IA2 Parcial 1/Logs/AssetImportWorker0-prev.log
IA2 Parcial 1/Logs/AssetImportWorker0.log
IA2 Parcial 1/Logs/AssetImportWorker1-prev.log
IA2 Parcial 1/Logs/AssetImportWorker1.log
IA2 Parcial 1/Logs/AssetImportWorker2-prev.log
IA2 Parcial 1/Logs/AssetImportWorker3-prev.log
IA2 Parcial 1/Logs/AssetImportWorker4-prev.log
IA2 Parcial 1/Logs/AssetImportWorker5-prev.log
IA2 Parcial 1/Logs/AssetImportWorker6-prev.log
IA2 Parcial 1/Logs/shadercompiler-UnityShaderCompiler.exe1.log
IA2 Parcial 1/Logs/shadercompiler-UnityShaderCompiler.exe10.log
IA2 Parcial 1/Logs/shadercompiler-UnityShaderCompiler.exe11.log
IA2 Parcial 1/Logs/shadercompiler-UnityShaderCompiler.exe2.log
IA2 Parcial 1/Logs/shadercompiler-UnityShaderCompiler.exe3.log
IA2 Parcial 1/Logs/shadercompiler-UnityShaderCompiler.exe4.log
IA2 Parcial 1/Logs/shadercompiler-UnityShaderCompiler.exe5.log
IA2 Parcial 1/Logs/shadercompiler-UnityShaderCompiler.exe6.log
IA2 Parcial 1/Logs/shadercompiler-UnityShaderCompiler.exe7.log
IA2 Parcial 1/Logs/shadercompiler-UnityShaderCompiler.exe9.log
IA2 Parcial 1/UserSettings/Layouts/default-2022.dwlt
